
.image__accueil{
  background-color: red;
}
.image__accueil{
  height: 100%;
  width: 100%;
}
.titre__accueil--container {
  bottom: 5%;
  position: absolute;
  text-align: center;
  font-size: 2.5rem;
  color: azure;
  font-weight: 800;
}