* {
  box-sizing: border-box;
  margin: 0;
}

img {
  max-width: 100%;
}

body {
  font-family: "Roboto", sans-serif;
  max-width: 100vw;
}

section {
  height: 100%;
}
p {
  font-size: 1rem;
  padding: 1rem 0;
}

h2 {
  font-size: 1.5625rem;
  font-weight: 600;
  padding: 2rem 0 1rem 0;
}

h3{
  margin: .625rem;
  font-size: 1.25rem;
  font-weight: 400;
  padding: 0 .625rem;
  position: relative;
}
