* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

body {
  font-family: "Roboto", sans-serif;
}

section {
  height: 100vh;
}
.image__accueil{
  background-color: red;
}
.image__accueil,
img {
  height: 100%;
  width: 100%;
}

.titre__accueil--container {
  bottom: 5%;
  position: absolute;
  text-align: center;
  font-size: 2.5rem;
  color: azure;
  font-weight: 800;
}

.experience {
  background-color: rgb(39, 38, 38);
  color: azure;
  font-size: 1rem;
  padding: 1rem;
  height: 100%;
  line-height: 1.5;
}

.exp,
.exp__h2 {
  text-align: center;
}

p {
  font-size: 1rem;
  padding: 1rem 0;
}

h2 {
  font-size: 1.5625rem;
  font-weight: 600;
  padding: 2rem 0 1rem 0;
}

.modules__h2{
  color: red;
  text-align: center;
}

.modules{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: .625rem .625rem;
  flex-wrap: wrap;
  gap: 3%;
}

.mode{
  margin: 0 0 10px 0;
  border: 3px solid rgb(39, 38, 38);
  height: fit-content;
  width: fit-content;
}

.mode img{
  padding-bottom: .25rem;
  width: 100%;
  height: 100%;
}
.modes__span{
  background-color:rgb(39, 38, 38) ;
  color: azure;
  padding: .3125rem .3125rem;
}

h3{
  margin: .625rem;
  font-size: 1.25rem;
  font-weight: 400;
}

.infos__mode{
  font-size: 1.125rem;
  padding: .625rem;
  font-weight: 200;
}

@media  screen and (min-width: 48rem) {
  .modules{
    flex-direction: row;
    flex-wrap: nowrap;
  }
  .mode{
    height: 25%;
    width: 25%;
  }
}