* {
  box-sizing: border-box;
  margin: 0;
}

img {
  max-width: 100%;
}

body {
  font-family: "Roboto", sans-serif;
  max-width: 100vw;
}

section {
  height: 100%;
}
p {
  font-size: 1rem;
  padding: 1rem 0;
}

h2 {
  font-size: 1.5625rem;
  font-weight: 600;
  padding: 2rem 0 1rem 0;
}

h3{
  margin: .625rem;
  font-size: 1.25rem;
  font-weight: 400;
  padding: 0 .625rem;
  position: relative;
}

.acceuil{
  display: flex;
  justify-content: center;
  align-items: center;
}
.image__accueil{
  height: 100%;
  width: 100%;
  background-color: red;
  display: flex;
  justify-content: center;
}
.image__accueil img{
  width: 50%;
  height: 50%;
}
.accueil__titre {
  top: 2%;
  position: absolute;
  text-align: center;
  font-size: 2.5rem;
  color: azure;
  font-weight: 800;
}



.experience {
  background-color: rgb(39, 38, 38);
  color: azure;
  font-size: 1rem;
  padding: 1rem;
  height: 100%;
  line-height: 1.5;
}
.exp,
.exp__titre {
  text-align: center;
}


.modules__titre{
  color: red;
  text-align: center;
}
.modules{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: .625rem .625rem;
  flex-wrap: wrap;
  gap: 3%;
}
.mode{
  margin: 0 0 10px 0;
  border: 3px solid rgb(39, 38, 38);
  height: fit-content;
  width: fit-content;
}
.mode img{
  padding-bottom: .25rem;
  width: 100%;
  height: 100%;
}
.modes__cadre{
  background-color:rgb(39, 38, 38) ;
  color: azure;
  padding: .3125rem .3125rem;
}
.infos__mode{
  font-size: 1.125rem;
  padding: .625rem;
  font-weight: 200;
}


.multijoueur{
  padding: 0 0.3125rem;
}
.multijoueur img{
  min-height: 15.625rem;
  background-size: cover;
}
.content__multi{
  padding: 0 1.25rem;
}
.content__multi h2{
  font-size: 1.75rem;
  font-weight: 700;
  padding-top: 0.625rem;
}
.content__multi h3{
 font-size: 1.571rem;
 font-weight: 500;
}
.content__multi p {
  font-size: 1.125rem;
  font-weight: 300;
}
.content__multi h3::before{
  content: " ";
    position: absolute;
    left: 0;
    top: 0;
    height: 90%;
    width: .5rem;
    background: #646464;
}

.consoles{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e60012;
  height: 60vw;
  width: 100%;
  gap: .125rem .3125rem;
  margin-top: .3125rem;
  padding: 0 .3125rem;
}
.console{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0 1rem;
}
.console img{
  height: 6.25rem;
  width: 6.25rem;
}
.console span {
  color:azure;
  font-size: 1.125rem;
}


@media  screen and (min-width: 48rem) {
  .modules{
    flex-wrap: nowrap;
  }
  .mode{
    height: 25%;
    width: 25%;
  }


  .multijoueur{
  display: flex;
  justify-content: center;
  align-items: center;
  }
  .multijoueur img{
    width: 50%;
    height: 100vw;
  }

  .consoles{
    height: 30vw;
    width: 100%;
    gap: 2px 5px;
    padding: 0 5px;
  }
  .console img{
    height: 150px;
    width: 150px;
  }

}

@media  screen and (min-width: 64rem) {

  .multijoueur img{
    width: 50%;
    height: inherit;
  }

  
  .console img{
    height: 15.625rem;
    width: 15.625rem;
  }
}