.multijoueur {
  padding: 0 0.3125rem;
}
.multijoueur img {
  min-height: 15.625rem;
  background-size: cover;
}
.content__multi {
  padding: 0 1.25rem;
}
.content__multi h2 {
  font-size: 1.75rem;
  font-weight: 700;
  padding-top: 0.625rem;
}
.content__multi h3 {
  font-size: 1.571rem;
  font-weight: 500;
}
.content__multi p {
  font-size: 1.125rem;
  font-weight: 300;
}
.content__multi h3::before {
  content: " ";
  position: absolute;
  left: 0;
  top: 0;
  height: 90%;
  width: 0.5rem;
  background: #646464;
}

.multi__sousTitre {
  opacity: 0;
  transform: translateX(30px);
}

@media screen and (min-width: 48rem) {
  .multijoueur {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .multijoueur img {
    width: 50%;
    height: 100vw;
  }
}

@media screen and (min-width: 64rem) {
  .multijoueur img {
    width: 50%;
    height: inherit;
  }
}

@media (prefers-reduced-motion: no-preference) {
  .multi__sousTitre {
    transition: opacity 1.5s ease, transform 1.5s ease;
  }
}

.titre__transition {
  opacity: 1;
  transform: none;
}
